p {
  color: white;
  margin: 0;
}

header {
  color: red;
  margin: 8px;
  border: 8px solid black;
  padding: 8px;
  box-sizing: border-box;
  width: 50%;
}

.materi {
  background-color: brown;
  box-sizing: border-box;
  width: 50%;
}

.flex {
  display: flex;
  /*--justify-content: space-around;*/
  flex-direction: row-reverse;
}
